html{
  scroll-behavior: smooth;
  }
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  background: #fdfff9;
  scroll-behavior: smooth;
  animation: fadeIn 2s ease 0s 1 normal;
}

* {
  font-weight: normal;
}

::selection {
  background: #b5c785;
  color: #fdfff9;
}

::-moz-selection {
  background: #b5c785;
  color: #fdfff9;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

p {
  line-height: 1.75;
}

p:last-of-type {
  margin-bottom: 0;
}

.wrapper .header-title {
  text-align: center;
  padding: 5rem 0 5rem;
}

.wrapper .header-title img {
  display: block;
  max-width: calc(7rem + 2.5vw);
  padding: .25rem;
  border-radius: 50%;
  box-shadow: -15px -15px 30px #aab0a1, 15px 15px 30px #ffffff;
  margin: 0 auto 2rem;
}

.wrapper section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.wrapper main {
  max-width: 40rem;
  margin: auto;
}

.wrapper section {
  padding: 1rem;
}

.wrapper section h2::after {
  content: "";
  display: block;
  margin: 1rem auto 0;
  width: 2rem;
  height: .2rem;
  background: #000;
  text-align: center;
}

.wrapper .biography-list {
  list-style: none;
  padding: 0;
}

.wrapper .biography-list>li {
  margin-bottom: 60px;
}

.wrapper .biography-body h3 {
  font-weight: bold;
}

@media ( min-width: 640px) {
  .wrapper .biography-list>li {
    display: flex;
    margin: 0;
  }
  .wrapper .biography-head {
    margin: 20px 20px 0 0;
    min-width: 6rem;
  }
  .wrapper .biography-body {
    width: calc(100% - 10rem);
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
    position: relative;
    padding-bottom: 3rem;
  }
  .wrapper .biography-list>li:last-of-type .biography-body {
    padding-bottom: 1rem;
  }
  .wrapper .biography-body:before {
    content: "\2022";
    font-size: 60px;
    position: absolute;
    left: -12px;
    color: #e1ff8f;
  }
}

footer {
  text-align: center;
  margin-bottom: 1rem;
}

.works{
  display: flex;
  justify-content: space-between;
}

.to-top{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}
.to-top:active{
  color: inherit;
}
.material-icons{
  font-family: 'Material Icons';
}
