* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-accent-color: #ddffbb;
  --background-color: #c7e9b0;
  --bark-accent-color: #b3c99c;
  --base-color: #a4bc92;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

::selection {
  background-color: var(--base-color);
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #474747;
  background-color: #fdfdfd;
  animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}