.mainVisual {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  padding: 1rem .5rem 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

  @media screen and (max-width: 20rem) {
    min-height: inherit;
    padding: 0;
  }

  &__bgImage {
    user-select: none;
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: auto;
    margin: auto;
    max-width: 100%;
  }
}

.nameCard {
  margin: auto;
  width: 20rem;
  min-height: calc(20rem * 1.414);
  border: double 1px #aaaaaa;
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: .125rem .125rem .25rem #aaaaaa, inset 0 0 20rem rgba(231, 231, 231, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  writing-mode: vertical-rl;
  animation: fadeIn 2s ease 0s 1 normal;
  overflow: hidden;
  transition: all ease .5s;

  &::before,
  &::after {
    border-width: 0;
    transition: all ease .5s;
    content: '';
    display: block;
    position: absolute;
    top: -10rem;
    width: 5rem;
    height: 4rem;
    border-radius: 0 0 50% 50%;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &.rotate::before {
    top: 0;
    background-color: #ffe8de;
    border: solid 0 #ffdbca;
    border-top-width: 1rem;
    border-left-width: .5rem;
    border-right-width: .5rem;
    transform: skewX(30deg);
    box-shadow: 3px -3px 3px rgba(200, 200, 200, 0.767);
  }

  &.rotate::after {
    top: 0;
    background-color: #ffe8de;
    border: solid 0 #ffdbca;
    border-top-width: 1rem;
    border-left-width: .5rem;
    border-right-width: .5rem;
    transform: skewX(-30deg);
    box-shadow: -3px -3px 3px rgba(200, 200, 200, 0.767);
  }

  @media screen and (max-width: 20rem) {
    border: none;
    border-radius: inherit;
    box-shadow: none;
    animation: none;
    overflow: inherit;
  }

  @keyframes fadeIn {
    0% {
      top: 5rem;
    }

    100% {
      top: 0;
    }
  }

  &__meta {
    margin-top: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: .25rem;

    .nameCard__qr {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      cursor: pointer;

      img {
        display: block;
        border-radius: .25rem;
        background-color: #fff;
        padding: .25rem;
        max-width: 5rem;
        height: inherit;
      }
    }
  }

  &__heading {
    border-top: solid 1px #474747;
    position: absolute;
    padding-top: .5rem;
    inset: 0;
    width: max-content;
    height: max-content;
    margin: auto;
    font-size: 2rem;
    letter-spacing: 1rem;

    rt {
      letter-spacing: .5rem;
    }
  }

  &__lastName {
    padding-top: 1rem;
  }
}

.nameCardRotate {
  color: #474747;
  position: relative;
  padding: .5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease .5s;
  transform: rotate(0deg);
  line-height: 0;
}

.definition {
  display: table;

  &__item {
    display: table-row;

    dt,
    dd {
      display: table-cell;
    }

    dt>div {
      margin: 0 .5rem .5rem 0;
      background-color: var(--background-color);
      padding: .25rem .5rem;
      font-weight: 700;
      text-align: justify;
      text-align-last: justify;
      text-justify: inter-character;
      white-space: nowrap;
    }
  }
}

.section {
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto 5rem;

  p {
    line-height: 1.75;
    margin-bottom: 1rem;
  }

  .heading {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 2rem;

    &::after {
      display: block;
      content: '';
      width: 3rem;
      height: .125rem;
      background: var(--bark-accent-color);
      margin: .5rem auto 0;
    }
  }

  ul {
    margin-left: 1rem;
  }

  &>* {
    margin-bottom: 1rem;
  }
}

.footer {
  text-align: center;
  background: var(--background-color);
  padding: 1rem;
}

.modal {
  background: #fff;
  padding: 1.5rem;
  margin: 1rem;

  &__close {
    background: none;
    color: #474747;
    padding: 0 .5rem;
    border: none;
    cursor: pointer;
  }
}

.modalQrImage {
  width: 100%;
  max-width: 15rem;
  height: inherit;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: .5rem;
  margin-bottom: 2rem;

  &__item {
    flex-basis: 12rem;
    flex-grow: 1;
    flex-shrink: 0;
    border: solid 1px #474747;
    overflow: hidden;
    border-radius: .25rem;
    position: relative;
  }

  &__tag {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    border: solid 1px #474747;
    padding: .125rem .5rem .125rem calc(.5rem - .125rem);
    letter-spacing: -.125rem;
    border-radius: 0 0 .25rem 0;
  }

  &__image {
    background: #ffffff;
    border-bottom: 1px solid #474747;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;

    svg {
      width: 100%;
      max-width: 4rem;
      height: auto;
    }
  }

  &__text {
    padding: .75rem;

    h3 {
      font-size: 1rem;
    }
  }
}

.links {
  a {
    color: var(--base-color);
  }
}